{#{% extends 'base.html.twig' %}

{% block title %}Hello BoardgameController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/gpereira/projects/board_games/src/Controller/BoardgameController.php'|file_link(0) }}">src/Controller/BoardgameController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/gpereira/projects/board_games/templates/boardgame/index.html.twig'|file_link(0) }}">templates/boardgame/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}#}


{% extends 'base.html.twig' %}

{% block title %}Boardgame Ratings{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for boardgame in boardgames %}
        <h4>{{ boardgame }}</h4>
        <p>
            {#  schlecht => manuelle Anpassung bei Änderung #}
            {# <a href="/boardgame/{{ boardgame.id }}">View</a>#}
            {#  besser => Über den Alias/Namen der Route #}
            <a href="{{ path('boardgame', { id: boardgame.id }) }}">Rate</a>
        </p>

    {% endfor %}
{% endblock %}
