{% extends 'base.html.twig' %}
{% block title %}Boardgame Ranking - {{ boardgame }}{% endblock %}
{% block body %}
    <h2>{{ boardgame }} Boardgame</h2>
    {% if comments|length > 0 %}
        <div>There are {{ comments|length }} comments.</div>
        <hr />
        {% for comment in comments %}
            <h4>{{ comment.author }}</h4>
            <p>{{ comment.rating }}</p>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>
            <p>{{ comment.text }}</p>
            <hr />
        {% endfor %}
        {% if previous >= 0 %}
            {#<a href="{{ path('boardgame', { id: boardgame.id, offset: previous }) }}">Previous</a>#}
            <a href="{{ path('boardgame', { slug: boardgame.slug, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            {#<a href="{{ path('boardgame', { id: boardgame.id, offset: next }) }}">Next</a>#}
            <a href="{{ path('boardgame', { slug: boardgame.slug, offset: next }) }}">Next</a>
        {% endif %}
    {% else %}
        <div>No comments have been posted yet for this boardgame.</div>
    {% endif %}
    <hr />
    <h2>Add your own feedback</h2>
    {{ form(comment_form) }}
{% endblock %}